.mainSection {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly; 
    padding: 1rem;
    border-bottom: 2px solid hsl(220, 15%, 18%);
}

.buttonSection {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    justify-content: space-evenly; 
} 

input{
    margin: .5rem;
    font-size: 1rem;
} 

legend {
    font-size: 1.7rem;
    text-align: center;
}

.mainSection label {
    font-size: 1.5rem;
}

.newUserCity input{
    margin-left: 1.7rem;
}

.newUserEmail input{
    margin-left: .7rem;
}