.editUserForm {
    display: flex;
    padding: 1rem;
    justify-content: space-around; 
    border-bottom: 2px solid hsl(220, 15%, 18%);
}

.formButton {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    justify-content: space-evenly; 
}

input{
    font-size: 1rem;
    padding: .5rem;
    border: 2px solid rgb(195, 195, 195);
    border-radius: .5rem;
    color: #004B49;

}   


.editUserCity{
    margin-left: 1.7rem;
}

.editUserEmail {
    margin-left: .7rem;
}

.saveButton {
    background-color: #004B49;
    color: white;
    border: 1px solid  #004B49;

}

.cancelButton {
    background-color: rgb(42, 167, 129);
    color: white;
    border: 1px solid rgb(42, 167, 129);
}

p label {
    color: #004B49;
    font-weight: 700;
}