.editUserForm {
    display: flex;
    padding: 1rem;
    justify-content: space-around; 
    border-bottom: 2px solid hsl(220, 15%, 18%);
}

.formButton {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    justify-content: space-evenly; 
}

input{
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
}   


.editUserCity{
    margin-left: 1.7rem;
}

.editUserEmail {
    margin-left: .7rem;
}