.data {
    display: flex;
    border-bottom: 2px solid hsl(220, 15%, 18%);
    padding: 1rem;
    justify-content: space-around; 
}

.button {
    display: flex;
    flex-direction: column;
    width: 6rem;
    justify-content: space-around; 
}

p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius: .5rem;
    background-color: rgb(238, 201, 213);
}