.data {
    display: flex;
    border-bottom: 2px solid gray;
    padding: 1rem;
    justify-content: space-around; 
}

.button {
    display: flex;
    flex-direction: column;
    width: 6rem;
    justify-content: space-around; 
}

p{
    font-size: 1.5rem;
    color: #004B49;
}

button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;

}

.editButton {
    background-color: #004B49;
    color: white;
    border: 1px solid  #004B49;
}

.deleteButton{
    background-color: rgb(238, 38, 38);
    border: 1px solid  rgb(238, 38, 38);
    color:white;
}